.prevInformation__wrapper {
  min-width: 0;
  max-width: 100%;
}
.articel__title::first-letter {
  text-transform: uppercase;
}
.noidungBaiviet::first-letter {
  text-transform: uppercase;
}

.icon-download {
  color: #ff6651;
}
