body {
  padding: 0;
  margin: 0;
  background-color: rgb(238, 238, 238);
  font-family: "Open Sans", sans-serif;
}
#total {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.picture {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  pointer-events: none;
  transform: translateY(-10px);
}

.image {
  pointer-events: none;
}
.block {
  position: relative;
  user-select: none;
}
.line {
  position: absolute;
  left: 17%;
  top: 17px;
  width: 70%;
  background-color: #ccc;
  height: 0.1rem;
}
.hoatiet {
  padding: 5px 20px;
  position: absolute;
  left: 130px;
  top: -6px;
  background-color: white;
  color: #999;
}
#formLogin {
  max-width: 400px;
  height: 500px;
  background-color: white;
  flex-grow: 1; /* giãn khung ra  */
  padding: 30px 30px 40px;
  box-shadow: 0px 0px 20px 3px rgba(238, 237, 237, 0.8);
}
#formgroup {
  border-radius: 5px;
  border: 1px solid rgb(53, 52, 52);
  margin-top: 50px;
  margin-bottom: 40px;
}
#formgroup i {
  font-size: 14px;
  padding-right: 15px;
  padding-top: 15px;
}
.forminput {
  background: transparent;
  border: 0;
  outline: 0;
  color: rgb(27, 27, 27);
}
.forminput {
  width: 337px;
  padding: 10px 30px;
}
#formgroup {
  position: relative;
}
label {
  padding: 2px 8px 2px 5px;
  background-color: white;
  position: absolute;
  left: 17px;
  pointer-events: none;
  transform: translateY(24%);
  transition: top all 1s linear;
}

.forminput:focus {
  outline: 2px solid #1a73e8;
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}
.forminput:focus + label,
.forminput:valid + label {
  top: -23px;
}
.formsubmit {
  background-color: #0065ca;
  border: 1px solid #4a4949;
  width: 100%;
  padding: 8px 10px;
  transition: 0.5s ease-in-out;
  margin-top: 25px;
  border-radius: 5px;
  color: white;
}
.formsubmit:hover {
  transition: all 0.25s linear;
  color: white;
  background-color: rgb(0, 79, 158);
}
#eye {
  position: absolute;
  right: -3px;
  top: 5%;
  cursor: pointer;
}
@media screen and (max-width: 991px) {
  body {
    background-color: white;
  }
  #formLogin {
    box-shadow: none;
  }
}
